<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pzy.study.dao.RoleUserRelDao">

    <resultMap  id="BaseResultMap" type="com.pzy.study.entity.RoleUserRelEntity">
        <id property="id"                                       column="id"/>
        <result property="roleId"                               column="role_id"/>
        <result property="userId"                               column="user_id"/>
        <result property="operator"                             column="operator"/>
        <result property="operatorTime" jdbcType="TIMESTAMP"    column="operator_time"/>
        <result property="operatorIp"                           column="operator_ip"/>
    </resultMap>

    <select id="selectRoleIdsByUserId" resultType="integer">
        select  t.role_id from  sys_role_user_rel t where t.user_id = #{userId}
    </select>

    <select id="selectUserIdsByRoleId" resultType="integer">
        select t.user_id from sys_role_user_rel t where  t.role_id = #{roleId}
    </select>

    <insert id="batchRoleUserInsert" >
        insert into sys_role_user_rel(role_id ,user_id ,operator ,operator_time ,operator_ip)
        values
        <foreach collection="roleUserRelEntities" index="roleUserRelEntity"  separator=",">
            (#{roleId} ,#{userId} ,#{operator} ,sysdata() ,#{operatorIp})
        </foreach>
    </insert>

</mapper>
